.wrapper-form {
  .label {
    color: #2d2d2d;
    font-size: 14px;
    margin: 0px;
    margin-bottom: 5px;
  }
  .form {
    width: 100%;
    outline: none;
    padding: 12px;
    font-size: 14px;
    border: 1px solid rgb(175, 174, 174);
    border-radius: 8px;
    box-sizing: border-box;
  }
}
